<footer class="footer mt-auto py-4 bg-custom-tan text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <a href="#" class="text-black mx-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-youtube"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-3">
        <a href="#" class="text-white mx-2">CONTACT FORMS</a> |
        <a href="#" class="text-white mx-2">POLICY SERVICE</a> |
        <a href="#" class="text-white mx-2">TERMS & CONDITIONS</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-3">
        <span>Telephone NO: 5634971360 | E-Mail ID: gogreen.co.in</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-black">
          &copy; 2024 GREENWAVE. All content and materials on this website are
          protected by copyright law and may not be reproduced, distributed, or
          transmitted without explicit permission. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
